<div class="login-container">
  <div class="login-left">
    <h2>StackWaize</h2>
    <form [formGroup]="loginForm" (ngSubmit)="login()">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" formControlName="email" placeholder="test@stackwaize.com">
      <label for="password">Password</label>
      <input type="password" id="password" formControlName="password" name="password" placeholder="******">
      <button type="submit" class="btn btn-signin">Sign In</button>
    </form>
    <p>Don't have an account? <a href="#">Sign Up Now</a></p>
  </div>
</div>
